footer {
    height: 60px;
   
    .social-links {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
  
      li {
        margin-left: 20px;
  
        a {
          display: block;
  
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
  