$body-font: 'Open Sans', sans-serif;
$heading-font: 'Roboto', sans-serif;
$body-font-size: 18px;
$background-color: #bdc3c7;
$gradient-color-1: #2c3e50;
$gradient-color-2: #bdc3c7;
$gradient-color-3: #959090;